<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>imgurloader.pandorica.io</string>
	<key>connections</key>
	<dict>
		<key>6AF881E1-732F-47C7-80CC-9EF2AC7A82E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D196807-6D9E-45F4-AE43-9EDA34D268D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mush Mo</string>
	<key>description</key>
	<string>upload file to AWS S3</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>File Uploader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>upload</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Initializing ...</string>
				<key>script</key>
				<string>query=$1

python upload.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Upload file from clipboard</string>
				<key>title</key>
				<string>Upload file</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6AF881E1-732F-47C7-80CC-9EF2AC7A82E2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1D196807-6D9E-45F4-AE43-9EDA34D268D8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Upload files from clipboard to S3. See https://github.com/btyh17mxy/alfred-file-uploader for more information.</string>
	<key>uidata</key>
	<dict>
		<key>1D196807-6D9E-45F4-AE43-9EDA34D268D8</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>6AF881E1-732F-47C7-80CC-9EF2AC7A82E2</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>AWS_ACCESS_KEY_ID</key>
		<string></string>
		<key>AWS_BUCKET_NAME</key>
		<string></string>
		<key>AWS_CDN_PREFIX</key>
		<string></string>
		<key>AWS_REGION_NAME</key>
		<string></string>
		<key>AWS_SECRET_ACCESS_KEY</key>
		<string></string>
		<key>IMGUR_CLIENT_ID</key>
		<string></string>
		<key>IMGUR_CLIENT_SECRET</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>AWS_CDN_PREFIX</string>
		<string>AWS_SECRET_ACCESS_KEY</string>
		<string>AWS_ACCESS_KEY_ID</string>
		<string>AWS_BUCKET_NAME</string>
		<string>IMGUR_CLIENT_SECRET</string>
		<string>IMGUR_CLIENT_ID</string>
		<string>AWS_REGION_NAME</string>
	</array>
	<key>version</key>
	<string>0.0.3</string>
	<key>webaddress</key>
	<string>https://pandorica.io</string>
</dict>
</plist>
