<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>uploader.workflow.pandorica.io</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2D2D2EED-0466-4CBC-AA0A-4CE6E01E5574</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC4A4525-D137-45D3-82D3-30C90CCD2B40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mush</string>
	<key>description</key>
	<string>Upload file from clipboard to AWS S3</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>File Uploader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>upload</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>uploading</string>
				<key>script</key>
				<string>/usr/bin/python3 uploader.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>clipboard.scpt</string>
				<key>subtext</key>
				<string>Upload file from clipboard</string>
				<key>title</key>
				<string>Upload file</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2D2D2EED-0466-4CBC-AA0A-4CE6E01E5574</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DC4A4525-D137-45D3-82D3-30C90CCD2B40</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># How to use
# How to use

This workflow can upload file/image/html/text to AWS S3 from your clipboard. 

![](https://cdn.pandorica.io/alfread-upload/2023-01/69dc9f2064fcf85c3d9eb548faffd5b2.png)


## upload  file

Copy the file and type "upload" then hit enter

![](https://cdn.pandorica.io/alfread-upload/2022-11/16bba3f4fbca2cb733a9c158ec7f55d6.gif)

## upload image from clipboard

![](https://i.imgur.com/MekqOEX.gif)


# Develop

```
cd src

pip install -r ./requirements.txt --target=lib
```</string>
	<key>uidata</key>
	<dict>
		<key>2D2D2EED-0466-4CBC-AA0A-4CE6E01E5574</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>DC4A4525-D137-45D3-82D3-30C90CCD2B40</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enabled</string>
			</dict>
			<key>description</key>
			<string>if checked, will show a ascii progress bar when uploading. Monospaced font is recommended when using this feature</string>
			<key>label</key>
			<string>Show Progress Bar</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>SHOW_PROGRESS_BAR</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Access Key ID for access S3</string>
			<key>label</key>
			<string>Access Key ID</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>AK</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Secret  Accese Key for access S3</string>
			<key>label</key>
			<string>AWS Secret Access Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>SK</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>S3 Bucket Name</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>BUCKET_NAME</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>region of s3</string>
			<key>label</key>
			<string>Region Name</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>REGION_NAME</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>https://cdn.your-domain.com</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Host name of your cdn with https://</string>
			<key>label</key>
			<string>CDN Host</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>CDN_HOST</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
