<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>imgurloader.pandorica.io</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>34EBE7F9-661F-445A-A261-505C1C892674</key>
		<array/>
		<key>52DC11B5-B275-4A56-860C-FACE1B2206AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34EBE7F9-661F-445A-A261-505C1C892674</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AF881E1-732F-47C7-80CC-9EF2AC7A82E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D196807-6D9E-45F4-AE43-9EDA34D268D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75571A5C-91A5-41D5-AEBA-53DA503A0F0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A78EFA58-4397-4B3C-9E74-A4462FAFE98F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E2DBE2F1-2E15-49D8-B8A8-8EC519AA5FBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A469375A-AA66-4E8D-88E0-F6565F5779AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB55DCEF-F715-414A-9F52-08A4E48D7CAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A78EFA58-4397-4B3C-9E74-A4462FAFE98F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52DC11B5-B275-4A56-860C-FACE1B2206AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2DBE2F1-2E15-49D8-B8A8-8EC519AA5FBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A469375A-AA66-4E8D-88E0-F6565F5779AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB55DCEF-F715-414A-9F52-08A4E48D7CAE</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Mush Mo</string>
	<key>description</key>
	<string>upload file to imgur</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>imgur uploader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>upload</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>uploading ..</string>
				<key>script</key>
				<string>query=$1

python upload.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>upload file from clipboard</string>
				<key>title</key>
				<string>upload file</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6AF881E1-732F-47C7-80CC-9EF2AC7A82E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1D196807-6D9E-45F4-AE43-9EDA34D268D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript get-client-id-dialog.scpt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52DC11B5-B275-4A56-860C-FACE1B2206AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python save.py imgur_client_id {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34EBE7F9-661F-445A-A261-505C1C892674</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>imgur_client_id</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A78EFA58-4397-4B3C-9E74-A4462FAFE98F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>config-imgur</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python config.py $query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>config imgur client id and client secret</string>
				<key>title</key>
				<string>config imgur</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>75571A5C-91A5-41D5-AEBA-53DA503A0F0A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python save.py imgur_client_secret {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EB55DCEF-F715-414A-9F52-08A4E48D7CAE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript get-client-secret-dialog.scpt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A469375A-AA66-4E8D-88E0-F6565F5779AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>imgur_client_secret</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E2DBE2F1-2E15-49D8-B8A8-8EC519AA5FBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Upload image from clipboard to imgur. See https://github.com/btyh17mxy/alfred-imgur-uploader for more information.</string>
	<key>uidata</key>
	<dict>
		<key>1D196807-6D9E-45F4-AE43-9EDA34D268D8</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>34EBE7F9-661F-445A-A261-505C1C892674</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>52DC11B5-B275-4A56-860C-FACE1B2206AC</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>6AF881E1-732F-47C7-80CC-9EF2AC7A82E2</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>75571A5C-91A5-41D5-AEBA-53DA503A0F0A</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>A469375A-AA66-4E8D-88E0-F6565F5779AF</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>A78EFA58-4397-4B3C-9E74-A4462FAFE98F</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>E2DBE2F1-2E15-49D8-B8A8-8EC519AA5FBD</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>EB55DCEF-F715-414A-9F52-08A4E48D7CAE</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>IMGUR_CLIENT_ID</key>
		<string></string>
		<key>IMGUR_CLIENT_SECRET</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>IMGUR_CLIENT_SECRET</string>
		<string>IMGUR_CLIENT_ID</string>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://pandorica.io</string>
</dict>
</plist>
